body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: black;
}

img {
	cursor: pointer;
}

div{
	color: white;
}

.helperDiv{
	background: black;
	background: radial-gradient(#003d5b, black 70%);

}

.pointer {
	cursor: pointer !important;
}

.helperDiv {
	position: relative;
}
.drums {
	width: 75%;
	margin: auto;
	display: block;
}

.face {
	display: block;
	position: absolute;
}

.bass {
	width: 21%;
	bottom: 4.8%;
	left: 36.6%;
}

.lowRight {
	width:13.7%;
	right:27.8%;
	top:40%;
}

.lowLeft{
	width:13.7%;
	top:40%;
	left:22%;
}

.topLeft{
	width:10.4%;
	top:16.6%;
	left:35.7%;
}

.topRight{
	width:10.3%;
	top:17%;
	right:39.7%;
}

.cheetoh{
	width:20%;
	top:10%;
	left:14%;
}

.hair{
	top:10%;
	width:20%;
	right:15%;
}
